.my-selected {
  background-color: #4e366d;
  color: white;
}

.my-today {
  border: 1px solid #4e366d;
}

.my-disabled {
  color: #ccc;
}

.my-fully-booked {
  background-color: #f8d7da;
  color: #721c24;
  position: relative;
}

.my-fully-booked::after {
  content: "✖";
  color: #dc3545;
  font-size: 0.75rem;
  position: absolute;
  top: 4px;
  right: 6px;
}
.rdp-chevron {
  display: inline-block;
  fill: #343a40 !important; /* dark gray */
}
.rdp-caption_label{

  color: #dc3545;
}
.rdp {
  font-size: 0.825rem; /* Reduce calendar font size */
}

.rdp-months {
  gap: 0.3rem; /* Reduce spacing between months */
}
